.Card {
    width: 272px;
    height: 208px;
    position: relative;
}

.Illustration {
    width: 240px;
    height: 120px;
}

.Price {
    display: flex;
    justify-content: center;
}

.Price>p {
    margin-right: 9px;
}

.Name {
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.Link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-primary-color);
    text-decoration: none;
}

.Link:nth-child(2n+1) {
    margin-right: calc(var(--offset-base-size) * 6);
}