.IngredientImage {
    width: 480px;
    height: 240px;
}

.IngredientName {
    width: 520px;
}

.IngredientDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.IngredientDetailsList {
    display: flex;
    padding: 0;
    gap: 20px;
}

.IngredientDetailsItem {
    min-width: 112px;
    list-style-type: none;
    text-align: center;
}

.IngredientDetailsItemValue {
    font-size: 28px;
    line-height: 24px;
}